.CatergoriesDiv{
    position: absolute;
    width: 50%;
    height: 0%;
    top: 10%;
    right: 0;
    background: rgb(1, 1, 40);
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 0;
}

.MUSICTYPE{
    position: relative;
    width: 100%;
    height: 10%;
    background: transparent;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    top: 0;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: inset 0px 0px 5px 0px rgb(1, 1, 50);
}

.TRENDINGSONGARTISTNAME1{
    position: relative;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: gainsboro;
    border-radius: 20px;
    width: 50%;
    font-style: italic;
}

#MenuIconOpen{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 5%;
    right: 5%;
    display: block;
}

#MenuIconClose{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 5%;
    right: 5%;
    display: none;
    transform: rotate(180deg);
}