.TrendingSongsDiv{
    position: absolute;
    width: 100%;
    height: auto;
    background: transparent;
    display: block;
    top: 32%;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0px 0px 5px 0px rgb(0, 1, 71);
}

.ARTISTDIVSONG{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
    display: inline-flex;
    margin-inline: 1%;
    background: #010128;
    box-shadow: inset 0px 0px 10px 0px rgb(30, 1, 78);
}

.TRENDINGSONGARTISTNAME{
    position: relative;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgb(57, 3, 143);
    border-radius: 20px;
    width: 50%;
}