.App_Name{
    position: absolute;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: auto;
    font-style: italic;
    color:teal;
}

.HeaderIcon{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 5%;
    right: 5%;
}

.BackIcon{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 5%;
    left: 1%; 
}