.HomePageDiv{
    position: fixed;
    top: 10%;
    width: 100%;
    height: auto;
    bottom: 10%;
    background: #010128;
    overflow-y: auto;
    overflow-x: hidden;
}

.OtherDiv{
    position: fixed;
    top: 10%;
    width: 100%;
    height: auto;
    bottom: 0%;
    background: #010128;
    overflow-y: auto;
    overflow-x: hidden;
}

.HOMENEWSDIV{
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 1%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    box-shadow: inset 0px 0px 5px 0px teal;
}

.HOMENEWSTITLE{
    position: relative;
    text-align: center;
    color: teal;
    font-style: italic;
    font-size: 25px;
    margin-top: 1%;
    width: 50%;
    left: 20%;
    box-shadow: inset 0px 0px 2px 0px rgb(23, 0, 75);
    border-radius: 20px;
}

.HOMENEWSIMAGE{
    position: relative;
    width: 98%;
    height: auto;
    display: block;
    padding: 1%;
    box-shadow: 0px 0px 1px 0px rgb(0, 0, 51);
}

.HOMENEWSTORY{
    position: relative;
    width: 95%;
    padding: 2%;
    text-align: left;
    height: 131px;
    background: transparent;
    font-style: italic;
    word-wrap: break-word;
    display: block;
    margin-top: 1rem;
    box-shadow: inset 0px 0px 5px 0px rgb(18, 1, 66);
}

.HOMENEWSTIME{
    position: absolute;
    width: 20%;
    text-align: center;
    font-size: 15px;
    top: 0;
    right: 1%;
    font-style: italic;
    padding: 1%;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 1%;
    color: teal;
    box-shadow: inset 0px 0px 5px 0px rgb(32, 0, 90);
}

.newsDiv{
    position: fixed;
    width: 100%;
    height: 0%;
    bottom: 0;
    display: block;
    background: #00003b;
    overflow-y: auto;
    overflow-x: hidden;
}

.NewsImage{
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.newStory{
    position: relative;
    width: auto;
    padding: 5%;
    text-align: left;
    font-style: italic;
    font-size: 18px;
}

.newTitle{
    position: relative;
    text-align: center;
    font-size: 30px;
    font-style: italic;
}